<header>
  <div class="logo">Thundercats Flashcards</div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/flashcards">All Flashcards</a></li>
      <li><a href="/flashcards/new">Add New Flashcard</a></li>
    </ul>
  </nav>
</header>